.widgets {
  flex: 0.4;
  border-right: 1px solid var(--chirp-border) !important;
  width: 100%;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--chirp-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--chirp-background);
}

.widgets__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: auto;
  border: 1px solid var(--chirp-border);
  padding: 0px 24px;
}

.widgets__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 20px;
  font-weight: 800;
}