.sidebarOption {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
}

p {
    margin: 0;
}
.sidebarOption:hover {
    background-color: #E4DCF9;
    color: var(--chirp-color);
    border-radius: 32px;
    transition: color background-color 100ms ease-out;
}

.sidebarOption--active {
    color: var(--chirp-color);
    font-weight: 600;
}