.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--chirp-border) !important;
    padding: 16px;
  }
  
  .post__body {
    flex: 1;
    /* padding: 10px; */
  }
  
  .post__body > img {
    border-radius: 16px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .post__headerDescription {
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  .post__headerText > h3 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  
  .post__image{
    width: 420px;
    height: 200px;
    object-fit: cover;
  }

  .post__badge {
    font-size: 14px !important;
    color: var(--chirp-color);
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__avatar {
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
  }