body {
  --chirp-color: #7D53DE;
  --chirp-background: #ffffff;
  --chirp-border: rgb(229, 229, 229);
}

.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
